Cargo.lock
/target
/.vs
/src/ui/fonts/*
!/src/ui/fonts/display/
/src/ui/fonts/display/*
!/src/ui/fonts/display/RammettoOne-Regular.ttf
!/src/ui/fonts/code/
/src/ui/fonts/code/*
!/src/ui/fonts/code/BlexMonoNerdFont-Bold.ttf

/data-naturalearth/Vector-Physical/_info/
/data-naturalearth/Vector-Physical/_raw/

